---
interface Props {
  title: string;
  color: string;
  bg: string;
  className: string;
  borderColor: string;
}

const { title, color, bg, className, borderColor } = Astro.props;
---

<div class="general-title">
  <div
    style={`clip-path: polygon(50% 0, 50% 0, 50% 100%, 50% 100%); border-color: ${borderColor};`}
    class={`${className} border-[.5vw] text-nowrap opacity-0`}
  >
    <div
      class="pb-5 md:px-14 px-3 md:pt-0 pt-3"
      style={`background-color: ${bg};`}
    >
      <h2 style={`color: ${color};`}>{title}</h2>
    </div>
  </div>
</div>
